.hello{
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-top: 70px;
    color: #ff1900;
}

.file-input-container2 {
    display: flex;
    justify-content: right;
    align-items: center; /* Changed from align-content to align-items */
    flex-direction: row-reverse;
    margin-top: 1cm;
}

  
.img-add{
    width: 400px;
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(207, 207, 207);
}
  
  .file-input2 {
    display: none;
  }
  .wrap-1{
    display: flex;
    justify-content: space-around;
  }
  .wrap-2{
    display: flex;
    justify-content: space-around;
  }
  .file-input2 + p {
    margin-top: 10px;
  }

  .p-add2{
    font-size: 21px;
    font-weight: bold;
    position: absolute;
  }
  



  /* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');



.select-menu{
    width: 380px;
    margin: 18px ;
}
.select-menu .select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
    padding-left: 15px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}

.btn-next{
    font-family: "El Messiri", sans-serif;
    display: flex;
  justify-content: center;
  float: left;
  margin: 0 0 0px 43px;
  padding: 10px 30px;
  border: none;
  color: white;
  background-color: brown;
}