.addd-document{
    margin-top: 7cm;
    margin-right: 0cm;
}
.form-container{
    display: flex;


}
.form-container input{
    padding: 16px 84px;
}
.form-container label{
    font-size: 25px;
    font-weight: bold;
    color: brown;
    
}
.btn-add 
{
  padding: 10px 37px;
  font-size: 21px;
  font-weight: bold;
  background-color: brown;
  border: none;
  color: white;
  font-family: "El Messiri", sans-serif;
  margin: 39px;
  

}

  


.data-table {
    border: 1px solid black;
    margin-top: 50px;
    width: 27.1cm; /* Set an explicit width for the table */
    table-layout: fixed; /* Set the table layout to fixed */
  }
  
  .data-table th, .data-table td {
    
    padding: 8px;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Display an ellipsis (...) when content overflows */
  }
  
  .data-table th {
    background-color: #f2f2f2;
  }
  
  .data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .data-table td:hover {
    overflow: visible;
    white-space: normal;
    text-overflow: inherit;
  }

  .btn-mod{
    padding: 10px 30px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: brown;
    font-family: "El Messiri", sans-serif;
  }