/* navbar.css */



.logo-home{
  width: 50px;
}
.name-home{
margin-top: 16px;
font-weight: bold;
margin-right: 5px;
color: white;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;

}

.logo2{
  display: flex;
  margin-right: 24px;
  align-items: center;
  
}

.fa-regular{
font-size: 20px;
margin-right: 9px;
color: #a94b41;
font-weight: bold;
}


.login-btn{
margin-left: 10px;
padding: 10px 2px 7px 5px;
font-size: 20px;
font-family: "El Messiri", sans-serif;
border: none;
background-color: rgb(255, 255, 255);
color: #a94b41b6;
font-weight: bold;
cursor: pointer;
}

.navbar{
background-color: #a94b41;
padding: 15px;
}


.left{
display: flex;
align-items: center;
}

.language-select{
margin-left: 50px;
}

.selected-language{
display: flex;
align-items: center;
}

.navbar-ul a{
  text-decoration: none;
}


.navbar {
/* Your existing styles */
position: relative; /* Position relative for containing the absolute dropdown */
}

.dropdown {
position: absolute;
top: 72%;
left: 237px;
z-index: 1;
background-color: #a94b41;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.dropdown-item {
padding: 10px 20px;
border-bottom: #a94b41;
display: flex;
align-items: center;
font-weight: bold;
color: white;
}

.img-lang2{
margin-left: 3px;
}

.navbar-ul{
list-style-type: none;
display: flex;
justify-content: center;
background-color: white;
padding: 20px 37px 20px 0px;
margin: 0;
box-shadow: 5px 3px 5px rgb(207, 207, 207);


}
.navbar-ul li{
margin-left: 50px;
font-size: 20px;
color: black;
cursor: pointer;
font-weight: bold;
}
.navbar-ul li:hover{

color: #b64d41  ;
}


.navbar a{
  text-decoration: none;
}