/* CSS for the FormuleF form */
.Nforme{
    margin-right:15px;
    color: brown;
}
.form-containerF {
  }
  .formF {
    margin: 100px 50px 0px 0px;
    border: 1px solid white;
    background-color: trasparant;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 85%;
    padding-bottom: 10px;
}
.formFF{
    margin-right:7%;
}
  /* Class for div containing the form sections */
  .form-section {
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  #inputF{
    border:1px solid black;
    background-color:white;
    width:165%;
    height:70%;
  }
  /* Style for labels */
  .form-section label {
    display: block;
    margin-bottom: 10px;
    color: brown;
    font-weight: bold;
  }
  
  /* Style for inputs */
  .form-section input {
    width: calc(50% - 10px); /* Adjust width to occupy half of the container */
    box-sizing: border-box;
  }
  
  /* Style for buttons */
  .button-section {
    text-align: center;
    margin-top: 20px;
     /* Add margin to separate button from input fields */
  }
  
  /* Style for buttons */
  .button-section button {
    cursor: pointer;
    margin-right:87%;
    padding: 10px 39px;
    font-size: 21px;
    font-weight: bold;
    background-color: brown;
    border: none;
    color: white;
    font-family: "El Messiri", sans-serif;
  }
  
  /* Style for buttons on hover */
  .button-section button:hover {
    background-color: #0056b3;
  }
  /* FormuleF.css */
/* Style for input field with datalist */
/* FormuleF.css */
/* FormuleF.css */
/* Style for input field with datalist */


